{{#if isImage}}
  {{#if isLoading}}
    {{ember-spinner}}
  {{else}}
    {{{image}}}
  {{/if}}
{{/if}}

{{#if isNoImage}}
  <div class="media-placeholder">
    <h3 class="media-title">{{item.title}}</h3>
    <sub class="media-subtitle">{{item.url}}</sub>
  </div>
{{/if}}
