{{#if isImage}}
  {{#if isLoading}}
    {{ember-spinner}}
  {{else}}
    {{{image}}}
  {{/if}}
{{/if}}

{{#if isNoImage}}
  <div class="list-media-placeholder">
    <h3 class="list-media-placeholder-title">{{item.title}}</h3>
    <sub class="list-media-placeholder-subtitle">{{item.url}}</sub>
  </div>
{{/if}}
