{{#if isImage}}
  {{#if isLoading}}
    {{ember-spinner}}
  {{else}}
    {{#if item.copyright}}<span class="copyright">{{item.copyright}}</span>{{/if}}
    {{{image}}}
  {{/if}}
{{/if}}

{{#if isNoImage}}
<iframe src="{{item.url}}" type="text/html" width="800" height="600" frameborder="0"/>
{{/if}}
